section.helpers
    .title
        h2 مصادر قد تساعدك

    .sources
        //- title, link, social, imgSrc
        +account('عبدالله العلاوي', 'https://www.youtube.com/channel/UCUdtq-Fvlw7_NjzduNTZsbg', 'y', '../img/abdullah.jpg')
        +account('التدريب هو الحل', 'https://www.youtube.com/user/allawee15', 'y', '../img/altadrebhoalhl.jpg')
        +account('فهد التميمي', 'https://www.youtube.com/user/tamimi1399', 'y', '../img/fahadaltamimi.jpg')
        +account('محمد المرشد', 'https://www.youtube.com/channel/UC-Mny5Mgh2g9oCJAjWDX7lw', 'y', '../img/mohammedalmrshd.jpg')
        +account('أنا أسطوري', 'https://www.instagram.com/ana.ostori/', 'i', '../img/anaostori.jpg')
        +account('المدربة نينو', 'https://www.instagram.com/nino_qudrat/', 'i', '../img/nino.jpg')