section.practicing
    .title
        h2 التدريب
        p اختر ما تنوي التسجيل فيه في اختبارك القادم
    .sources
        .source.exception
            h2 ورقي
            .photo
                img(src="../img/wrgi.jpg" alt="ورقي")
                .btn-con
                    a(class="btn" href="https://goo.gl/LFvSCp" target="blank") التجميعات

        .source.exception
            h2 محوسب
            .photo
                img(src="../img/mohawsab.webp" alt="محوسب")
                .btn-con
                    div
                        a(class="btn" href="https://t.me/m_marshd1/122041" target="blank") تجميعات نموذج 105

                        div
                            //- title, link
                            +exception('التكميلي', 'https://mail.google.com/mail/u/0?ui=2&ik=a28c25c3eb&attid=0.1&permmsgid=msg-a:r1937061812682167717&th=17e1b5269afa0ae8&view=att&disp=safe&realattid=17e1b51e0f797ad28001')
                            +exception('المبدع', 'https://mail.google.com/mail/u/0?ui=2&ik=a28c25c3eb&attid=0.1&permmsgid=msg-a:r1909012951002198954&th=17e1b5646529d486&view=att&disp=safe&realattid=17e1b545922804858b1')


                        a(class="btn" href="https://t.mo7wsab.com/quiz.php" target="blank") اختبارات محاكية