section.basics
    .title
        h2 التأسيس
        p لا تكتفي بأحدهما فكلاهما مكمل للآخر
    
    .sources
        //- link, title, imgSrc, p
        +sec-1-src('https://www.youtube.com/watch?v=hRBE4QxaqGo&list=PLiMjqLOlXt6z6jZxPLb5cIqWKiaHdvYlE', 'تأسيس فهد التميمي', '../img/fahadaltamimi.jpg')
        +sec-1-src('https://www.learnatnoon.com/ar-sa/discover', 'منصة نون', '../img/noon.png', 'ينصح بباقة التأسيس لمحمد المرشد ومهنا الرحيمي، كما ينصح بأخذ الباقة كاملة (الكمي واللفظي)')