main {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    gap: 12vh;
    overflow-x: hidden;
    .progress {
        transition: .5s;
        position: relative;
        width: 50vw;
        height: 2vh;
        direction: rtl;
        background-color: rgba(0, 0, 0, .2);
        span {
            transition: 1s;
            position: absolute;
            background-color: var(--sec-color);
            height: 100%;
            width: 0;
        }
    }
    .cards {
        transition: .5s;
        position: relative;
        display: flex;
        gap: 2vw;
        width: 80vw;
        height: 15vw;
        direction: rtl;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .card {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            cursor: pointer;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1) inset;
            transform: translateY(100%);
            &:hover {
                filter: brightness(1.2);
            }
            &.dis {
                opacity: 0;
                transform: translateY(-100%);
            }
            &.active {
                background-color: #0c9fbd;
                transform: translateY(-100%) !important;
            }
            > .container {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                gap: 2vh;
                > .photo {
                    overflow: hidden;
                    height: 70%;
                    img {
                        width: 100%;
                        height: 100%
                    }
                }
                > h2 {
                    text-align: center;
                }
            }
        }
    }
    .topics {
        .content {
            display: flex;
            margin-bottom: 4vh;
            transition: filter .5s !important;
            .done-btn {
                transition: .5s;
                background-color: goldenrod;
                padding: 12px 24px;
                width: fit-content;
                font-weight: bold;
                cursor: pointer;
                align-self: center;
                font-size: 1.2em;
                &:not(.finished):hover {
                    filter: brightness(1.1);
                }
                &.finished {
                    background-color: green;
                    cursor: default;
                }
            }
            --background-desc: rgb(20, 20, 20);
            --box-shadow-desc: 0 0 15px black;
            --padding-desc:  5vh 10vh;
            &:not(.active) {
                opacity: 0;
                pointer-events: none;
                height: 0;
                overflow: hidden;
            }
            transition: opacity 1s;
            &.intro {
                margin-top: -10vh;
                display: flex;
                flex-direction: column;
                gap: 10vh;
                padding: 0 20vw;
                .desc {
                    direction: rtl;
                    font-size: 1.5em;
                    text-align: justify;
                    background-color: var(--background-desc);
                    padding: var(--padding-desc);
                    box-shadow: var(--box-shadow-desc);
                }
                .sources {
                    direction: rtl;
                    display: flex;
                    justify-content: space-between;
                    .source {
                        width: 46%;
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        gap: 2vh;
                        transition: .2s;
                        &:hover {
                            filter: brightness(.9);
                        }
                        .photo {
                            box-shadow: 0 0 20px rgba(0, 0, 0, .5);
                            width: 100%;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                        }
                        h2 {
                            color: var(--sec-color);
                            text-align: center;
                        }
                    }
                }
            }
            &.basics {
                padding: 0 10vw;
                display: flex;
                flex-direction: column;
                gap: 12vh;
                width: 100%;
                .desc {
                    background-color: var(--background-desc);
                    direction: rtl;
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                    padding: var(--padding-desc);
                    box-shadow: var(--box-shadow-desc);
                    p {
                        font-size: 1.5em;
                    }
                    span {
                        font-size: 1.3em;
                        color: var(--sec-color);
                    }
                }
                .sources {
                    display: flex;
                    flex-direction: column;
                    gap: 8vh;
                    align-items: center;
                    .source {
                        transition: .5s;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 2vh;
                        text-decoration: none;
                        color: var(--sec-color);
                        &:hover {
                            filter: brightness(.8);
                        }
                        h2 {
                            text-align: center;
                            direction: ltr;
                            font-size: 1.6em;
                            sub {
                                font-size: .6em;
                            }
                        }
                        .photo {
                            position: relative;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            height: 30vh;
                            .main-img {
                                left: 0;
                                position: absolute;
                                height: 100%;
                                overflow: hidden;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                img {
                                    height: 100%;
                                }
                                box-shadow: 0 0 20px black;
                            }
                            .avatar {
                                position: absolute;
                                width: 10vw;
                                height: 10vw;
                                border-radius: 50%;
                                border: 10px solid var(--background);
                                z-index: 1;
                                overflow: hidden;
                                top: 0;
                                left: 0;
                                transform: translate(50%, -50%);
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        &:first-child {
                            .main-img {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        &:last-child {
                            .main-img {
                                display: flex;
                                align-items: center;
                                img {
                                    height: auto;
                                    width: 100%;
                                }
                            }
                            .avatar {
                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &.algorithms {
                display: flex;
                flex-direction: column;
                gap: 15vh;
                align-items: center;
                padding: 0 10vw;
                .desc {
                    margin: 0 10vw;
                    direction: rtl;
                    font-size: 1.3em;
                    background-color: var(--background-desc);
                    padding: var(--padding-desc);
                    box-shadow: var(--box-shadow-desc);
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                    span {
                        color: var(--sec-color);
                        font-size: .8em;
                    }
                }
                .the-course {
                    direction: rtl;
                    display: flex;
                    justify-content: space-between;
                    a {
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 2vh;
                        max-width: calc(30%);
                        h2 {
                            color: var(--sec-color);
                        }
                        img {
                            transition: .2s;
                            filter: drop-shadow(0 0 15px black);
                            width: 100%;
                        }
                        &:not(.insta):hover {
                            img {
                                filter: drop-shadow(0 0 15px black) brightness(1.2);
                            }
                        }
                        &.insta:hover {
                            img {
                                transform: scale(.95);
                            }
                        }
                    }
                }
                .problem-solving {
                    display: flex;
                    flex-direction: column;
                    gap: 5vh;
                    align-items: center;
                    h1 {
                        font-size: 3em;
                        color: var(--sec-color);
                    }
                    .sources {
                        direction: rtl;
                        display: grid;
                        grid-template-columns: repeat(3, 25vw);
                        gap: 5vh;
                        a {
                            display: flex;
                            flex-direction: column;
                            gap: 2vh;
                            text-decoration: none;
                            filter: grayscale(80%);
                            transition: .3s;
                            h2 {
                                color: var(--sec-color);
                                text-align: center;
                            }
                            .photo {
                                overflow: hidden;
                                transition: .3s;
                                img {
                                    width: 100%;
                                }
                            }
                            &:hover {
                                filter: grayscale(0%);
                                .photo {
                                    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
                                }
                            }
                        }
                    }
                }
            }
            &.pathways {
                display: flex;
                flex-direction: column;
                gap: 20vh;
                .paths {
                    display: grid;
                    grid-template-rows: 40vh 25vh 40vh;
                    padding: 0 20vh;
                    gap: 20vh;
                    div {
                        display: flex;
                        justify-content: center;
                        &:first-child {
                            justify-content: space-between;
                        }
                        svg, img {
                            height: 100%;
                            width: 100%;
                        }
                        a {
                            width: 40vh;
                            text-decoration: none;
                            color: var(--sec-color);
                            display: flex;
                            flex-direction: column;
                            h2 {
                                padding-top: 2vh;
                                text-align: center;
                            }
                            svg {
                                --i: var(--sec-color);
                            }
                            &:hover {
                                svg {
                                    --i: goldenrod;
                                }
                                color: goldenrod;
                            }
                        }
                    }
                }
            }
        }
    }
    .closed {
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        height: 50vh;
        width: 50vh;
        background-color: #333;
        padding: 5vh;
        justify-content: space-between;
        align-items: center;
        .msg {
            font-size: 1.5em;
            color: var(--sec-color);
            font-weight: bold;
            text-align: center;
        }
        .btns {
            display: flex;
            color: white;
            font-size: 1em;
            width: 100%;
            justify-content: space-around;
            .skip {
                background-color: indianred;
            }
            .ok {
                background-color: #0c9fbd;
            }
            .ok, .skip {
                padding: 2vh;
                cursor: pointer;
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .ok:hover, .skip:hover {
                filter: brightness(1.1);
            } 
        }
    }
    .done-card {
        @extend .closed;
        position: fixed;
        height: auto;
        gap: 5vh;
        font-size: 4vh;
        color: var(--sec-color);
        .btns {
            display: flex;
            gap: 2vh;
            direction: rtl;
            .btn {
                color: white;
                background-color: var(--sec-color);
                width: 100%;
                text-align: center;
                cursor: pointer;
                padding: 1vh 0;
                &:hover {
                    filter: brightness(.9);
                }
            }
        }
    }
    .back {
        transition: filter .5s;
        visibility: hidden;
        display: flex;
        direction: rtl;
        gap: 2vh;
        position: fixed;
        right: 4vw;
        top: 18vh;
        background-color: var(--background);
        padding: 5px 10px;
        border: 1px solid var(--sec-color);
        cursor: pointer;
        span {
            color: var(--sec-color);
            font-size: 1.5em;
        }
        img {
            &.white {
                display: none;
            }
        }
        &:hover {
            background-color: var(--sec-color);
            span {
                color: white;
            }
            img {
                &.white {
                    display: initial;
                }
                &.blue {
                    display: none;
                }
            }
        }
    }
}

@keyframes animation {
    100% {
        width: 100%;
    };
};