.content.algorithms
    .desc
        p الخوارزميات هي خطوات لحل مشكلة معينة، الدورة ستساعدك على التعرف على الخوارزميات المشهورة، وبعدها ستتطور من خلال حل المشاكل، وهناك مواقع لذلك
        span الدورة مدفوعة لكن لن تندم، ويمكنك الحصول على خصم عن طريق التواصل معه على حسابه في الانستجرام

    .the-course
        a(href="https://www.udemy.com/share/1062hm3@YA7OqFqMcWlvOjKw0WWmJ2rwtuvv7PiNnlJCLWuofVV6UBxIXyn8iOO0UMioSdkhlg==/" target="_blank")
            h2 الدورة
            img(src="../img/main-alogrithms-course.jpg" alt="الدورة الأولى")
        
        a(href="https://www.udemy.com/share/105Amg3@zMR-8Hp_9e4bgwuOZT6Scgju7BDTORhKjmj_GIfKfkcNjTewi3H1xXHq3GoFu8utAA==/" target="_blank")
            h2 دورة تدريب (بعد الدورة الأولى)
            img(src="../img/sec-algorithms-course.jpg" alt="الدورة الثانية")

        a(class="insta" href="https://www.instagram.com/litprog/" target="_blank")
            h2 حسابه على الانستجرام
            img(src="https://img.icons8.com/color/144/000000/instagram-new--v1.png" alt="الانستجرام")
    
    .problem-solving
        h1 مواقع للتدرب
        .sources
            //- link, title, imgSrc
            +source-T3('https://coderhub.sa/home', 'CoderHub', '../img/coderhub.jpg')
            +source-T3('https://www.hackerrank.com/dashboard', 'HackerRank', '../img/hackerrank.jpg')
            +source-T3('https://coderbyte.com', 'Coderbyte', '../img/coderbyte.jpg')
            +source-T3('https://edabit.com/challenges', 'edabit', '../img/edabit.jpg')
            +source-T3('https://www.algoexpert.io/product', 'AlgoExpert', '../img/algoexpert.jpg')
            +source-T3('https://leetcode.com', 'LeetCode', '../img/leetcode.jpg')
