.content.basics
    .desc
        p اذا انهيت دورة الCS50 فأنت تعرفت على أساسيات البرمجة بالفعل، لكنك تعلمت رؤوس أقلام فقط، بالاضافة إلى أنك لم تتعرف على الOOP (البرمجة كائنية التوجه)، لذا بايثون من وجهة نظري أفضل خيار، فهي لغة سهلة، وداعمة لهذا المفهوم، وستساعدك على تعلم الخوارزميات، وهي الخطوة التالية بعد هذه الخطوة، ورغم هذا يمكنك تعلم الأساسيات بأي لغة برمجة أخرى تدعم مفهوم الOOP، وستستطيع قراءة أكواد لغة بايثون وفهمها حتى مع عدم اتقانك لها
        span لا تنتقل الى الخطوة التالية إلا بعد اتقانك للغة وبرمجة مشاريع بنفسك
    
    .sources
        //- link, title, comment, avatarSrc, mainImgSrc
        +source-T2('https://www.youtube.com/watch?v=mvZHDpCHphk&list=PLDoPjvoNmBAyE_gei5d18qkfIe-Z8mocs', 'Elzero Web School', '(أفضل كورس من وجهة نظري', '../img/elzeroavatar.jfif', '../img/elzeroimg.jpg')
        +source-T2('https://www.youtube.com/watch?v=h3VCQjyaLws&list=PLuXY3ddo_8nzrO74UeZQVZOb5-wIS6krJ', 'Codezilla', false, '../img/codezillaavatar.jpg', '../img/codezillaimg.jpg')
        +source-T2('https://www.youtube.com/watch?v=nyz2sieUtsI', 'Nour Humsi', false, '../img/NourHumsiavatar.jpg', '../img/NourHumsiimg.jpg')
        +source-T2('https://www.youtube.com/watch?v=Drjvm8p013o&t=10s', 'Python Arabic Community', false, '../img/pythonarabiccommunityavatar.jpg', '../img/PythonArabicCommunityimg.jpg')

    .done-btn إنهاء البطاقة