.content.intro
    .desc
        | CS50 هي أكبر دورة في علوم الحاسب مقدمة من  ديفيد مالان في جامعة هارفارد، في الحرم الجامعي وعلى الانترنت، وهي دورة مقدمة باللغة الانجليزية لكن هناك مصادر قدمت الدورة باللغة العربية، وهي دورة مهمة تهيئك لتعلم البرمجة

    .sources
        a(class="source" href="https://pll.harvard.edu/course/cs50-introduction-computer-science?delta=0" target="_blank")
            h2 الدورة الأصلية
            .photo
                img(src="../img/cs50.jpg" alt="english cs50")
        
        a(class="source" href="https://www.youtube.com/watch?v=pSc6RGEBLAQ&list=PLknwEmKsW8OvMsFbU9zo8oJCprAsgc4LO" target="_blank")
            h2 الدورة العربية المختصرة
            .photo
                img(src="../img/cs50A.jpg" alt="arabic cs50")

    .done-btn إنهاء البطاقة