footer
    .con1
        .con2
            #content
                ul
                    li
                        a(href="https://www.instagram.com/k.a.artist")
                            img(src="https://img.icons8.com/fluency/48/000000/instagram-new.png")
                p KHALED 2022 &copy;جميع الحقوق محفوظة