section#definition
    img(src="../img/undraw_product_teardown_re_m1pc.svg" alt="*photo")
    #content
        h1 ما هو هذا #[span الموقع؟]
        p
            .
                هذا الموقع هو موقع شخصي أشارك فيه المسارات التي انهيتها ورأيت نتاجها والمسارات التي ما زلت اسير عليها والاحظ تطوري من خلالها،
                لتوضيح خارطة الطريق في أي مجال دخلته، والمصادر التي سمعت عنها
                وتلقت التقييمات العالية
            span
                | وأنوه على أنني مبتدأ في جميع المجالات، لكنني في تطور مستمر بفضل الله ثم اتباعي هذه المسارات