extends ../main
include ./helpers/mixins

block logo
    #logo

block nav
    li المجالات

block dropdown
    li المجالات

block prepend content

    main
        include ./helpers/section1
        include ./helpers/section2

    include ./helpers/footer
