main {
    margin-top: 40vh;
    > .title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10vh;
        .h2s-con {
            width: 300px;
            height: 9vh;
            overflow: hidden;
            position: relative;
            .h2s {
                display: flex;
                position: absolute;
                left: -600px;
                transition: .5s;
                h2 {
                    font-size: 3em;
                    width: 300px;
                    text-align: center;
                }
            }
        }
        .left-arrow, .right-arrow {
            &.active {
                background-color: var(--sec-color);
                filter: grayscale(0%);
                cursor: pointer;
                &:hover {
                    opacity: .8;
                }
            }
            filter: grayscale(100%);
            background-color: var(--sec-color);
            width: 2vw;
            clip-path: polygon(0 0, 100% 50%, 0 100%);
        }
        .left-arrow {
            transform: rotate(180deg);
        }
    }
    .step {
        &.active {
            display: initial;
        }
        display: none;
        .content {
            direction: rtl;
            padding: 0 10vh;
            p {
                span {
                    display: block;
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: var(--sec-color);
                    margin-bottom: 2vh;
                }
                font-size: 1.5em;
            }
            .items {
                display: flex;
                margin: 5vh 0;
                flex-direction: column;
                gap: 5vh;
                a {
                    &.item1 {
                        img {
                            margin-top: -120px;
                        }
                    }
                    &.item2 {
                        img {
                            margin-top: -200px;
                        }
                    }
                    &.item3 {
                        img {
                            margin-top: -80px;
                        }
                    }
                    &.item4 {
                        img {
                            margin-top: -150px;
                        }
                    }
                    &.item5 {
                        img {
                            margin-top: -60px;
                        }
                    }
                    &.item6 {
                        img {
                            margin-top: -120px;
                        }
                    }
                    &:hover {
                        opacity: .9;
                    }
                    position: relative;
                    color: white;
                    text-decoration: none;
                    .photo {
                        height: 50vh;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .lang, .name {
                        position: absolute;
                        align-items: center;
                        background-color: rgba(0, 0, 0, .8);
                        font-weight: bold;
                        font-size: 2em;
                        display: flex;
                    }
                    .lang {
                        bottom: 0;
                        right: 0;
                        padding-right: 2vh;
                        height: 10vh;
                        width: 32vh;
                    }
                    .name {
                        top: 0;
                        left: 0;
                        justify-content: left;
                        padding-left: 2vh;
                        height: 12vh;
                        width: 40vh;
                    }
                }
                
            }
        }
    }
    .s-2 {
        direction: rtl;
        .advice {
            padding: 1vw 2vw;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            width: 100%;
            h1 {
                color: var(--sec-color);
                cursor: pointer;
                position: relative;
                width: fit-content;
                &::before {
                    content: '';
                    position: absolute;
                    height: 2vw;
                    width: 1vw;
                    background-color: var(--sec-color);
                    left: 0;
                    top: 0;
                    transform: translateX(-200%);
                    transition: .5s;
                    clip-path: polygon(0 50%, 100% 0, 100% 100%);
                }
                kbd {
                    border-radius: 10px;
                    background-color: gray;
                    padding: 8px 16px;
                    color: white;
                    font-size: .9em;
                    box-shadow:
                    3px 3px rgb(182, 182, 182) inset,
                    -3px -3px rgb(87, 87, 87) inset;
                    img {
                        transform: translateY(20%);
                    }
                }
            }
            p {
                font-size: 1.2em;
                width: 75%;
                display: none;
            }
            &.active {
                h1::before {
                    transform: translateX(-200%) rotate(-90deg);
                }
                p {
                    display: initial;
                }
            }
        }
    }
}