section.cards
    //- name, title, imgSrc
    +card('intro', 'مقدمة إلى البرمجة', '../img/cs50-course.jfif')
    +card('basics', 'أساسيات البرمجة', '../img/python.jpg')
    +card('algorithms', 'الخوارزميات', '../img/algorithms.png')
    +card('pathways', 'اختيار مسار', '../img/pathways.jpg')