section(class="step s-1")
    .content
        p
            span تدرب على السرعة
            | بعد حفظك لأماكن الحروف ستبقى سرعتك بطيئة على الأغلب، إليك بعض المواقع لتحسين سرعتك
        .items
            //- name, lang, num, link, imgSrc
            +item('MonkeyType', 'e', '3', 'https://monkeytype.com/', '../img/monkeytype.jpg')
            +item('10FastFingers', 'ea', '4', 'https://10fastfingers.com/typing-test/english', '../img/10fastfingers.jpg')
            +item('Typing', 'e', '5', 'https://www.typing.com/student/typing-test/1-minute', '../img/typing.jpg')
            +item('Typaa', 'a', '6', 'https://www.tybaa.com/test', '../img/typaaspeed.jpg')
