section(class="step s-2")
    .advice
        h1 #[span]_ أكتب كلمة كلمة
        p قد تستغرب، لكن كتابتك للكلمات حرفاً حرفاً يبطئ من سرعتك، الحل هو تهيئة أصابعك على الحرف والأحرف التي تليه، ثم الضغط عليهم بفارق وقت قصير، واذا كانت كلمة طويلة فقسمها أجزاءً وطبق عليها، مع الوقت ستعتاد أصابعك ولن تحتاج للتفكير في ذلك
    .advice
        h1 #[span]_ استخدم #[kbd #[img(src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/25/ffffff/external-left-arrows-kmg-design-basic-outline-kmg-design-1.png" alt="مسح")]] + #[kbd ctrl]
        p لا استخدمها شخصياً، لكن قد تفيد البعض، تتميز عن الحذف العادي بأنها تحذف الكلمة كاملة بدلاً عن حرف
    .advice
        h1 #[span]_ لا تعتد على نص أو كلمات معينة
        p كتابتك المقتصرة على نص معين يمنعك من كتابة الكلمات الجديدة بنفس السرعة، أفضل طريقة للتدرب هي أخذ نصوص جديدة كل يوم، وتوفر بعض المواقع التي نصحت بها هذه الميزة
    //
        .advice
            h1 #[span]_
            p