section(class="step s-0 active")
    .content
        p
            span تعلم أماكن الحروف والرموز
            | اتبع خطوات هذه المواقع وستحفظها في أسبوع واحد فقط
        .items
            //- name, lang, num, link, imgSrc
            +item('TypingClub', 'e', '1', 'https://www.typingclub.com/sportal/program-3.game', '../img/typingclub.jpg')
            +item('Tybaa', 'a', '2', 'https://www.tybaa.com/', '../img/typaa.jpg')