@import '../helpers/animations.scss';

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 12vh;
  padding-top: 12vh;
  direction: rtl;
  gap: 50vh;
  #definition {
    width: 50%;
    padding-right: 6vh;
    img {
      position: absolute;
      left: 0;
      z-index: -2;
      top: 25%;
      width: 50%;
      opacity: 0;
      animation: opacity 3s .5s forwards;
      -webkit-animation: opacity 3s .5s forwards;
      transform: translateY(10vh);
      -webkit-transform: translateY(10vh);
      -moz-transform: translateY(10vh);
      -ms-transform: translateY(10vh);
      -o-transform: translateY(10vh);
    }
    #content {
      display: flex;
      flex-direction: column;
      gap: 3vh;
      position: relative;
      opacity: 0;
      animation: opacity 3s forwards;
      -webkit-animation: opacity 3s forwards;
      transform: translateY(10vh);
      -webkit-transform: translateY(10vh);
      -moz-transform: translateY(10vh);
      -ms-transform: translateY(10vh);
      -o-transform: translateY(10vh);
      h1 {
        font-size: 4.5em;
        span {
          color: var(--sec-color);
        }
      }
      p {
        position: relative;
        font-size: 1.5em;
        text-align: justify;
        span {
          font-size: 75%;
          display: block;
          color: var(--sec-color);
        }
      }
    }
  }
  #roads {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    animation: opacity 3s forwards;
    -webkit-animation: opacity 3s forwards;
    animation-play-state: paused;
    opacity: 0;
    transform: translateY(10vh);
    > h1 {
      font-size: 4em;
      color: var(--sec-color);
    }
    #carousel {
      display: flex;
      position: relative;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 30vw;
      #left-arrow,
      #right-arrow {
        z-index: 3;
        position: absolute;
        background-color: #09a6f3;
        height: 100%;
        width: 10vw;
        cursor: pointer;
        &:not(.unclickable):hover {
          background-color: #097db8;
          &::before {
            opacity: 0.8;
          }
        }
        &.unclickable {
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          background-color: rgb(109, 109, 109);
          cursor: default;
          &::before {
            background-color: rgb(168, 167, 167);
          }
        }
        &::before {
          content: "";
          position: absolute;
          background-color: white;
          height: 10vh;
          width: 5vh;
          top: calc(50% - 5vh);
          left: calc(50% - 2.5vh);
          clip-path: polygon(0 0, 50% 22%, 100% 50%, 50% 77%, 0 100%);
        }
      }
      #left-arrow {
        left: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        &::before {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
        }
      }
      #right-arrow {
        right: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      #elements-con {
        width: 80vw;
        overflow: hidden;
        position: relative;
        direction: ltr;
        #elements {
          display: flex;
          gap: 1vw;
          position: absolute;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          .element {
            &.disabled {
              filter: grayscale(100%);
              cursor: default;
            }
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            background-color: white;
            width: 25vw;
            height: 30vw;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            #title {
              height: 20%;
              font-weight: bold;
              color: black;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 2;
              box-shadow: 0 0 10px gray;
              font-size: 2.5vw;
            }
            #photo {
              display: flex;
              justify-content: center;
              height: 80%;
              overflow: hidden;
              img {
                height: 100%;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
              }
            }
            #details {
              direction: rtl;
              position: absolute;
              z-index: 1;
              background-color: rgba(18, 187, 145, 0.8);
              top: 100%;
              height: 80%;
              padding: 10%;
              display: flex;
              font-size: 1.4em;
              transition: 0.5s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              text-align: justify;
            }
            &:hover:not(.disabled) {
              #details {
                top: 20%;
              }
              #photo {
                img {
                  transform: scale(1.1) rotate(5deg);
                  -webkit-transform: scale(1.1) rotate(5deg);
                  -moz-transform: scale(1.1) rotate(5deg);
                  -ms-transform: scale(1.1) rotate(5deg);
                  -o-transform: scale(1.1) rotate(5deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  #photo {
    width: 100%;
    display: flex;
    img {
      width: 100%;
      transform: translateY(10%);
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -ms-transform: translateY(10%);
      -o-transform: translateY(10%);
    }
  }
  .con1 {
    background-color: #181b1d;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 50px black;
  }
  .con2 {
    background-color: #101213;
    height: 46vh;
    display: flex;
    align-items: flex-end;
    width: 100%;
    box-shadow: 0 0 50px black;
  }
  #content {
    box-shadow: 0 0 50px black;
    width: 100%;
    background-color: rgb(13, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10vh;
    gap: 2em;
    height: 40vh;
    ul {
      list-style: none;
      align-self: center;
      position: relative;
      height: 48px;
      width: 48px;
      cursor: pointer;
      li {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        a {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
      &:hover li {
        top: -10%;
      }
    }
    p {
      align-self: center;
      letter-spacing: 1px;
      font-weight: 800;
    }
  }
}